body {
    background-color: #100720;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.button {
    background-color: #FFC23C;
    color: #31087B;
    padding: 2em 5em;
    font-size: 3em;
    border-radius: 1em;
    border: none;
    font-family: 'Ubuntu', sans-serif;
}

.button:hover {
    color: #FFC23C;
    background-color: #31087B;
}

.container {
    display: flex;
    justify-content: space-evenly;
}
