/*
 *https://colorhunt.co/palette/10072031087bfa2fb5ffc23c
 */

body {
    background-color: #100720;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}


.button {
    background-color: #FFC23C;
    color: #31087B;
    font-size: 3em;
    border-radius: 1em;
    border: none;
    font-family: 'Ubuntu', sans-serif;
    margin: auto;
    padding: 1em 2em;
}

.button:hover {
    color: #FFC23C;
    background-color: #31087B;
    filter: drop-shadow(0 0 0.75rem crimson);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media (max-width: 480px) {

    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .button {
        width: 70%;
        height: 80%;
        margin: 10px 5px;
    }
}
